<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_meet.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{549,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,176}}</string>
                <key>sourceSize</key>
                <string>{549,176}</string>
            </dict>
            <key>btn_move.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{549,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,176}}</string>
                <key>sourceSize</key>
                <string>{549,176}</string>
            </dict>
            <key>btn_riddle.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,2},{549,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,176}}</string>
                <key>sourceSize</key>
                <string>{549,176}</string>
            </dict>
            <key>btn_save.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{549,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,176}}</string>
                <key>sourceSize</key>
                <string>{549,176}</string>
            </dict>
            <key>cur_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,133},{129,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,148}}</string>
                <key>sourceSize</key>
                <string>{129,148}</string>
            </dict>
            <key>home.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,152},{97,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,95}}</string>
                <key>sourceSize</key>
                <string>{97,95}</string>
            </dict>
            <key>level_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,2},{129,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,148}}</string>
                <key>sourceSize</key>
                <string>{129,148}</string>
            </dict>
            <key>pass_level.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,2},{129,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,148}}</string>
                <key>sourceSize</key>
                <string>{129,148}</string>
            </dict>
            <key>trg_finish.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,249},{86,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,74}}</string>
                <key>sourceSize</key>
                <string>{86,74}</string>
            </dict>
            <key>trg_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,249},{51,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,64}}</string>
                <key>sourceSize</key>
                <string>{51,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>selectCtrl.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07019749c2df51131e5851c868576ac5$</string>
            <key>textureFileName</key>
            <string>selectCtrl.png</string>
        </dict>
    </dict>
</plist>
