<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_power.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{202,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,56}}</string>
                <key>sourceSize</key>
                <string>{202,56}</string>
            </dict>
            <key>btn_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,312},{245,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,98}}</string>
                <key>sourceSize</key>
                <string>{245,98}</string>
            </dict>
            <key>btn_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,127},{245,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,98}}</string>
                <key>sourceSize</key>
                <string>{245,98}</string>
            </dict>
            <key>btn_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,2},{308,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,123}}</string>
                <key>sourceSize</key>
                <string>{308,123}</string>
            </dict>
            <key>btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{245,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,98}}</string>
                <key>sourceSize</key>
                <string>{245,98}</string>
            </dict>
            <key>btn_yes.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{308,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{308,123}}</string>
                <key>sourceSize</key>
                <string>{308,123}</string>
            </dict>
            <key>icom_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,412},{74,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,79}}</string>
                <key>sourceSize</key>
                <string>{74,79}</string>
            </dict>
            <key>info_new.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{109,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,75}}</string>
                <key>sourceSize</key>
                <string>{109,75}</string>
            </dict>
            <key>lab_str.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,127},{157,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,40}}</string>
                <key>sourceSize</key>
                <string>{157,40}</string>
            </dict>
            <key>tili.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,374},{81,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,107}}</string>
                <key>sourceSize</key>
                <string>{81,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>homeCtrl.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22e11a03505bf39bba4b152ae0fad99a$</string>
            <key>textureFileName</key>
            <string>homeCtrl.png</string>
        </dict>
    </dict>
</plist>
